<head>
  <h1>Friends Forever</h1>
</head>


<body>

  <% students = ["Michael Smykowski", "Edozie Izegbu",
  "Nina Bachvarova", "Irina Tagintseva",
  "Max Gordon",  "Dana Mulder",
  "Tina Hweicheng Loh",  "Zubair Desai",
  "Helen Lam", "Ngan Pham",
  "Julien Mayer",  "Bradley Johnson",
  "Luis Manzo",  "Cameron Irmas",
  "Erika Lim", "David Dang",
  "Michael Dean",  "Rosa Choi",
  "Rory Grant",  "Oscar Linares",
  "Kevin Litchfield",  "Denise Shephard",
  "Heather Farley",  "Brady Stilwell",
  "Victoria Billingsley",  "Kristian Ziel",
  "Lauren Richie", "Alex Sell"] %>


  <% pair = [] %>
  <% 2.times do %>
    <% pair << students.sample %>
  <% end %>
  <%= pair %>




</body>
